/*--------- Definisi Root ---------*/

:root {
    --hijau0:         #8fd60066;
    --hijau1:         #8fd600;
    --hijau2:         #00b800;
    --hijau3:         #00fb00;
    --hijau4:         #a9fe00;
    --hijautua:       #007a00;
    --kuning:         #e6e600;

}

/*--------- Definisi Body & Scrollbar ---------*/

body {
    background-color: var(--hijau0);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

::-webkit-scrollbar {
    width: 0px; 
}


::-webkit-scrollbar-track {
    background: transparent; 
}

/*--------- Definisi Section 1 ( Sticky Header )  ---------*/

.section1 {
    top: 0px;
    position: sticky;
    display: flex;
    padding: 5px;
    height: 118px;
    background-color: var(--hijautua);
    user-select: none;
    border-bottom: 3px solid rgba(0, 110, 13, 1);
    z-index: 100;
}

.section1a {
    width: 120px;
    cursor: url('/static/img/cursor.png'), auto;
}


.img1a {
    position: relative;
    width: 120px;
    height: 120px;
    padding-left: 10px;
}

.section1aa {
    position: relative;
    width: 400px;
    box-sizing: border-box;
    white-space: nowrap;
    font-family: "Poppins";
    font-size: 60px;
    padding-left: 10px;
    top: 10px;
    font-weight: bolder;
    color: var(--kuning);
    cursor: url('/static/img/cursor.png'),auto;
}

.S1aa1ba {
    position: absolute;
    margin-top: 10px;
    margin-left: 0px;
    opacity: 0;
}

.tema1ba {
    color: var(--kuning);
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
}

@media (max-width: 800px) {
    .section1aa {
        display: none !important;
    }
    .marquee1ba {
        opacity: 0;
    }
    .S1aa1ba {
        opacity: 1;
    }

}

.section1b {
    display: grid;
    justify-content: center;
    z-index: 10;
}

.section1ba {
    position: relative;
    height: 60px;
    margin-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: url('/static/img/cursor.png'), auto;
}

.marquee1ba {
    display: inline-block; 
    animation: marquee 10s linear infinite;
}

.img1b {
    height: 50px; 
    margin-right: 50px; 
}

@keyframes marquee {
    from {
        transform: translateX(-50%); 
    }
    to {
        transform: translateX(0%); 
    }
}

.img1b {
    margin-top: 10px;
    width: 50px;
}

.section1bb {
    height: 40px;
    display: flex;
    flex-shrink: 1;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 30px;
}

.button1bb1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--kuning);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

.b1bb1 {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bolder;
    color: var(--hijautua);
}

.button1bb1:hover {
    background-color: var(--hijau4);
}

.popupb1bb1 {
    display: none; 
    position: absolute;
    background-color: var(--hijau1); 
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 15px;
    z-index: 200; 
    top: 110px;
    left: 590px;
    transform: translateX(-50%);
}

.popupb1bb1 li {
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    background-color: var(--hijautua);
    margin-top: 5px;
}

.popupb1bb1 li:hover {
    color: var(--hijautua);
}

.popupb1bb1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popupb1bb1 ul li {
    padding: 8px;
    cursor: pointer;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--kuning); 
    border-radius: 15px; 
    transition: background-color 0.3s ease; 
}

.popupb1bb1 ul li a {
    color: inherit;
    text-decoration: none;
}

.popupb1bb1 ul li:hover {
    background-color: var(--hijau3);
}

.button1bb1:hover .popupb1bb1 {
    display: block;
    animation: fadeIn 0.3s ease-out; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.button1bb2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    background-color: var(--kuning);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

.b1bb2 {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bolder;
    color: var(--hijautua);
}

.button1bb2:hover {
    background-color: var(--hijau4);
}

.popupb1bb2 {
    display: none; 
    position: absolute;
    background-color: var(--hijau1); 
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 15px;
    z-index: 200; 
    top: 110px;
    left: 860px;
    transform: translateX(-50%);
}

.popupb1bb2 li {
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    background-color: var(--hijautua);
    margin-top: 5px;
}

.popupb1bb2 li:hover {
    color: var(--hijautua);
}

.popupb1bb2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popupb1bb2 ul li {
    padding: 8px;
    cursor: pointer;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--kuning); 
    border-radius: 15px; 
    transition: background-color 0.3s ease; 
}

.popupb1bb2 ul li a {
    color: inherit;
    text-decoration: none;
}

.popupb1bb2 ul li:hover {
    background-color: var(--hijau3);
}

.button1bb2:hover .popupb1bb2 {
    display: block;
    animation: fadeIn 0.3s ease-out; 
}

.button1bb3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    background-color: var(--kuning);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

.b1bb3 {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bolder;
    color: var(--hijautua);
    text-align: center;
}

.b1bb3 a {
    color: inherit;
    text-decoration: none;
}

.button1bb3:hover {
    background-color: var(--hijau4);
}

.popupb1bb3 {
    display: none; 
    position: absolute;
    background-color: var(--hijau1); 
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 15px;
    z-index: 200; 
    top: 110px;
    left: 1130px;
    transform: translateX(-50%);
}

.popupb1bb3 li {
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    background-color: var(--hijautua);
    margin-top: 5px;
}

.popupb1bb3 li:hover {
    color: var(--hijautua);
}

.popupb1bb3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popupb1bb3 ul li {
    padding: 8px;
    cursor: pointer;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--kuning); 
    border-radius: 15px; 
    transition: background-color 0.3s ease; 
}

.popupb1bb3 ul li a {
    color: inherit;
    text-decoration: none;
}

.popupb1bb3 ul li:hover {
    background-color: var(--hijau3);
}

.button1bb3:hover .popupb1bb3 {
    display: block;
    animation: fadeIn 0.3s ease-out; 
}

.icon {
    width: 20px;
    height: 20px;
}

.button1bb4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    background-color: var(--kuning);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

.b1bb4 {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bolder;
    color: var(--hijautua);
    text-align: center;
}

.b1bb4 a {
    color: inherit;
    text-decoration: none;
}

.button1bb4:hover {
    background-color: var(--hijau4);
}

@media (max-width: 1300px) {
    .button1bb2 {
        margin-left: 10px;
    }
    .button1bb3 {
        margin-left: 10px;
    }
    .button1bb4 {
        margin-left: 10px;
    }
}

/*--------- Definisi Section 2 ( QR Platform ) ---------*/

.section2 {
    position: sticky;
    display: flex;
    height: 0px;
    top: 135px;
    z-index: 15;
    cursor: url('/static/img/call.png'), auto;
}

.section2a {
    position: relative;
    background-color: var(--hijau0);
    width: 100px; 
    height: 100px; 
    border-radius: 0 2000px 2000px 0; 
    transition: all 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section2a:hover {
    background-color: var(--hijau2);
    width: 400px;
    height: 500px;
    border-radius: 0 100px 100px 0;
    box-shadow: -10px -10px -10px rgba(0, 0, 0, 0.2), 0px -10px 10px rgba(0, 0, 0, 0.2);
}

.imgwa2a {
    position: absolute;
    margin-top: 9px;
    margin-left: 7px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.imgcode2a {
    position: absolute;
    width: 80%;
    height: 70%;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 40px;
    object-fit: cover;
    opacity: 0; 
}

.text2a {
    position: absolute;
    opacity: 0;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins';
    margin-top: 40px;
    margin-left: 26px;
    color: var(--kuning);
    text-shadow: 
    1px 1px 0 var(--hijautua), 
   -1px 1px 0 var(--hijautua), 
    1px -1px 0 var(--hijautua), 
   -1px -1px 0 var(--hijautua);
    transition: opacity 0s ease, transform 0s ease;
}

.section2a:hover .imgwa2a {
    opacity: 0; 
}

.section2a:hover .imgcode2a {
    opacity: 1; 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section2a:hover .text2a {
    opacity: 1;
    transition: opacity 2.2s ease, transform 2.2s ease;
}

/*--------- Definisi Section 3 ( Isi Landing Page ) ---------*/

.section3 {
    display: grid;
    height: 120px;
    position: relative;
    cursor: default;
}

.section3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: var(--hijautua);
    animation: stretchLine 4s ease-in-out forwards;
}

@keyframes stretchLine {
    0% {
        width: 0;
    }
    50% {
        width: 1200px;
    }
    100% {
        width: 800px;
    }
}


.texts3a {
    display: grid;
    font-family: 'Poppins';
    justify-items: center;
    color: var(--hijautua);
    user-select: none;
}

.texts3a1 {
    font-size: 40px;
    font-weight: bolder;
    opacity: 0;
    transform: translateY(30px);
    animation: floatIn 2s ease-out forwards;
}

.texts3a2 {
    margin-top: 5px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(30px); 
    animation: floatIn 1s ease-out forwards;
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

@media (max-width: 1020px) {
    .section3::before {
        width: 70vw;
    }
    .texts3a2 {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .texts3a2 {
        opacity: 0;
    }
}

/*--------- Definisi Section 4 ( Slide Kegiatan )  ---------*/

.section4 {
    display: grid;
    height: 820px;
    justify-items: center;
    overflow: hidden;
}

.containers4 {
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.slideshow-container {
    margin-top: 10px;
    position: relative;
    height: 90vh;
    width: 90vw;
    z-index: 2;
    cursor: default;
}

.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
}

.slide-image {
    height: 90vh;
    width: 90vw; 
    background-size: cover; 
    object-position: center;
    border-color: var(--hijautua);
    border-radius: 10px;
    z-index: 2;
  }
  
  .image1 {
    background-image: url('/static/img/slide1.jpg');
  }
  
  .image2 {
    background-image: url('/static/img/slide2.webp');
  }
  
  .image3 {
    background-image: url('/static/img/slide3.jpg');
  }
  
  .image4 {
    background-image: url('/static/img/kebun.png');
  }

.prev {
    cursor: pointer;
    width: auto;
    padding: 10px;
    color: var(--hijautua);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 4; 
    border-radius: 0 3px 3px 0; 
}

.next {
    cursor: pointer;
    top: 30%;
    padding: 10px;
    width: auto;
    color: var(--hijautua);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 4; 
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--hijau0);
    z-index: 15;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.footers4 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    background-color: var(--hijautua);
    box-shadow: rgba(0, 110, 13, 0.5) 0px 1px 6px 0px;
    width: 100vw;
    height: 100px;
}

.footers4:hover {
    background-color: var(--hijau2);
    box-shadow: rgba(0, 110, 13, 1) 2px 2px 8px 2px;
}

.texts4a {
    justify-items: center;
    font-family: 'Poppins';
    font-size: 25px;
    width: 100vw;
    color: var(--hijau4);
    font-weight: bolder;
    text-decoration: none;
    user-select: none;
}

.texts4a:hover {
    color: var(--kuning);
}

.pins4 {
    height: 60px;
    width: 60px;
    cursor: pointer; 
}

@media (max-width: 850px) {
    .footers4 {
        width: 400px;
    }
    .texts4a {
        font-size: 15px;
    }
    .pins4 {
        height: 30px;
        width: 30px;
    }
}

/*--------- Definisi Section 5 ( Tambahan ) ---------*/

.section5 {
    position: relative;
    height: 1100px;
    overflow: hidden;
    display: grid;
    place-items: center; 
}

.heads5 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 900;
    color: var(--hijautua);
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.section5:hover .heads5 {
    opacity: 1; 
    animation: typing 1s steps(50, end), blink 0.6s step-end infinite;
    animation-fill-mode: forwards;

}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 40ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.heads5.visible {
    opacity: 1 !important; 
    animation: none; 
}

.s5itemgrid {
    justify-content: center;
    display: flex;
    width: 90vw;
    gap: 100px; 
}

.s5itembox {
    height: 400px;
    width: 350px;
    background-color: var(--hijautua);
    border-radius: 20px;
    opacity: 0;
    justify-items: center;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.s5itembox.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.s5itembox.animate {
    opacity: 1;
    transform: translateY(0);
}

.s5itembox:hover {
    box-shadow: rgb(255, 247, 0) 2px 2px 8px 2px;
    transform: scale(1.1) translateY(-10px);
}

.s5imgbox {
    padding-top: 15px;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    object-fit: contain;
}

.s5textbox {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    color: var(--kuning);
    cursor: default;
}

.s5textboxisi {
    padding: 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    color: var(--hijau4);
    text-align: center;
    cursor: default;
}

/*--------- Definisi Section 6 ( Footer ) ---------*/

.section6 {
    position: absolute;
    background-color: var(--hijautua); 
    margin-left: 0px;
    margin-right: 0px;
    height: 595px;
    width: 100vw;
    display: flex;
    z-index: 20;
    border-top:  3px solid rgba(0, 110, 13, 1);
    overflow: hidden;
}

.texts6 {
    position: absolute; 
    z-index: 3;
    color: var(--kuning);
    font-family: 'Poppins';
    font-size: 25px;
    letter-spacing: 5px;
    white-space: nowrap; 
    animation: moveRight 15s linear infinite;
    cursor: default;
    user-select: none;
}

@keyframes moveRight {
    0% {
        transform: translateX(100%); 
    }
    50% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.box-alamat {
    position: absolute;
    background-color: var(--hijau4);
    border-radius: 10px;
    width: 400px;
    height: 100px;
    padding-left: 15px;
    left: 30px;
    top: 50px;
}

.imgkantor {
    border-radius: 2px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.pinboxa {
    margin-left: 180px;
    width: 22px;
    height: 22px;
}

.alamat {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    color: var(--hijautua);
    cursor: default;
}

.rincianalamat {
    font-family: 'Poppins';
    font-size: 12px;
    color: var(--hijautua);
}

.medsos {
    position: absolute;
    display: grid;
    padding-top: 10px;
    padding-left: 20px;
    background-color: var(--hijau4);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    left: 30px;
    top: 200px;
}

.medsosfb {
    margin-left: -4px;
}

.imgfb {
    height: 30px;
    width: 40px;
}

.boxfb {
    display: flex;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    color: var(--hijautua);
}

.linkfb {
    font-style: 'Poppins';
    padding-left: 4px;
    font-size: 15px;
    text-decoration: none;
    color: var(--hijautua);
}

.fb {
    padding-left: 3px;
    cursor: default;
}

.medsosig {
    margin-top: 0px;
}

.boxig {
    display: flex;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    color: var(--hijautua);
}

.imgig {
    height: 30px;
    width: 30px;
}

.ig {
    padding-left: 10px;
    cursor: default;
}

.linkig {
    font-style: 'Poppins';
    font-size: 15px;
    text-decoration: none;
    color: var(--hijautua);
}

.medsostt {
    margin-top: 0px;
}

.boxtt {
    display: flex;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    color: var(--hijautua);
}

.imgtt {
    height: 30px;
    width: 30px;
}

.tt {
    padding-left: 7px;
    cursor: default;
}

.linktt {
    font-style: 'Poppins';
    font-size: 15px;
    text-decoration: none;
    color: var(--hijautua);
}

.box-company {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    left: 30px;
    top: 450px;
}

.companylogo {
    width: 75px;
    height: 75px;
}

.induk {
    margin-top: 3px;
    color: wheat;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 10px;
}

.news {
    display: grid;
    position: absolute;
    align-items: center;
    padding: 20px;
    background-color: var(--hijau4);
    border-radius: 10px;
    width: 600px;
    height: 450px;
    left: 800px;
    top: 50px;
}

.news1 {
    position: relative;
    display: flex;
    width: 600px;
    height: 70px;
    background-color: var(--hijautua);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.news1:hover {
    box-shadow: rgba(0, 110, 13, 1) 2px 2px 8px 2px;
}

.linknews1 {
    display: flex;
    text-decoration: none;
}

.imgnews1 {
    padding: 5px;
    width: 60px;
    height: 70px;
    border-radius: 10px;
    box-sizing: border-box; 
}

.isinews1 {
    display: grid;
}

.judulnews1 {
    display: block;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: var(--kuning);
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.ketnews1 {
    display: block;
    box-sizing: border-box;
    margin-top: -5px;
    margin-left: 10px;
    font-family: 'Poppins';
    color: var(--hijau3);
    font-size: 10px;
}

.news2 {
    display: flex;
    width: 600px;
    height: 70px;
    background-color: var(--hijautua);
    border-radius: 10px;
}

.news2:hover {
    box-shadow: rgba(0, 110, 13, 1) 2px 2px 8px 2px;
}

.news3 {
    display: flex;
    width: 600px;
    height: 70px;
    background-color: var(--hijautua);
    border-radius: 10px;
}

.news3:hover {
    box-shadow: rgba(0, 110, 13, 1) 2px 2px 8px 2px;
}

.news4 {
    display: flex;
    width: 600px;
    height: 70px;
    background-color: var(--hijautua);
    border-radius: 10px;
}

.news4:hover {
    box-shadow: rgba(0, 110, 13, 1) 2px 2px 8px 2px;
}

.news5 {
    display: flex;
    width: 600px;
    height: 70px;
    background-color: var(--hijautua);
    border-radius: 10px;
}

.news5:hover {
    box-shadow: rgba(0, 110, 13, 1) 2px 2px 8px 2px;
}