<!DOCTYPE html>

<!--- Bahasa --->
<html lang="id">

<head>

    <meta charset="UTF-8">

    <!--- Font & Icon --->
    <link rel="icon" type="image/png" href="durian.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--- Kompatibilitas IE --->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--- Biar responsif dan nggak ancur di HP --->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    <title>Ayo Durian</title>

    <!--- Link CSS --->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basegaya.css') }}">

</head>

<body>

    <!--------- Section 1 ( Sticky Header ) --------->

    <div class="section1">

        <div class="section1a">
            <img class="img1a" src="{{ url_for('static', filename='img/durian.png') }}" alt="logo durian">
        </div>

        <span class="section1aa">
            Ayo Durian
        </span>

        <div class="section1b">

            <div class="section1ba">

                <span class="marquee1ba">
                    <img class="img1b" src="{{ url_for('static', filename='img/d1.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d2.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d3.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d4.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d5.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d6.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d7.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d8.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/durian.png') }}">

                    <img class="img1b" src="{{ url_for('static', filename='img/d1.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d2.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d3.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d4.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d5.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d6.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d7.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/d8.png') }}">
                    <img class="img1b" src="{{ url_for('static', filename='img/durian.png') }}">
                </span>

                <div class="S1aa1ba">
                    <span class="tema1ba"> Ayo Durian</span>
                </div>

            </div>

            <div class="section1bb">

                <div class="button1bb1">

                    <span class="b1bb1">
                        Acara
                    </span>

                    <div class="popupb1bb1">
                        <ul>
                            <li>
                                <a href="acara/jadwal.html">Jadwal</a>
                            </li>
                            <li>
                                <a href="acara/festival.html">Festival Panen</a>
                            </li>
                            <li>
                                <a href="acara/pekan.html">Pekan UMKM</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="button1bb2">

                    <span class="b1bb2">
                        Produk
                    </span>

                    <div class="popupb1bb2">
                        <ul>
                            <li>
                                <a href="produk/produk.html">Durian</a>
                            </li>
                            <li>
                                <a href="produk/produk2.html">Olahan Durian</a>
                            </li>
                            <li>
                                <a href="produk/link.html">Marketplace</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="button1bb3">

                    <span class="b1bb3">
                        <a href="tanya jawab/tanya.html">Tanya Jawab</a>
                    </span>

                </div>

                <div class="button1bb4">

                    <span class="b1bb4">
                        <a href="tentang kami/tentang.html">Tentang Kami</a>
                    </span>

                </div>

            </div>

        </div>

    </div>

    <!--------- Section 2 ( QR Platform ) --------->

    <div class="section2">

        <div class="section2a">
            <img class="imgwa2a" src="wa.png">
            <span class="text2a">Pindai Kodenya Sekarang.!</span>
            <img class="imgcode2a" src="qr.jpeg">

        </div>

    </div>

    <!--------- Section 3 ( Isi Landing Page ) --------->
    
    <div class="section3">
        <span class="texts3a">
            <span class="texts3a1">Ayo Durian </span>
            <span class="texts3a2">SEBUAH TEMPAT DIMANA ANDA BISA MERASA BAGAI DI SURGA DURIAN.!</span>
        </span>

    </div>

    <!--------- Section 4 ( Slide Kegiatan ) --------->

    <div class="section4">

        <div class="containers4">

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="slide-image image1"></div>
                </div>
            
                <div class="mySlides fade">
                    <div class="slide-image image2"></div>
                </div>
                    
                <div class="mySlides fade">
                    <div class="slide-image image3"></div>
                </div>   
    
                <div class="mySlides fade">
                    <div class="slide-image image4"></div>
                </div>

            </div>

            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>

        <div class="footers4">
            <span class="texts4a">
                <p>Ayo.!, Segera Kunjungi Kami, Klik Pin nya.! ></p>
            </span>
            <a href="https://maps.app.goo.gl/vFA4qsuxu534u4J86">
                <img class="pins4" src="pin.png">
            </a>

        </div>


    </div>

    <!--------- Section 5 ( Footer ) --------->

    <div class="section5">

        <span class="texts5">
            Ayo segera datang ke tempat kami, dan dapatkan penawaran menarik.!
        </span>
    
        <div class="box-alamat">
            <div class="boxa">
                <img class="imgkantor" src="kantor.png">
                <span class="alamat">
                    Kantor Pusat
                </span>
            </div>
            <span class="rincianalamat">
                Jl. Ambokembang No.109F, Kedungwuni, Kab. Pekalongan.
            </span>
        </div>
    
        <div class="box-company">
            <img src="">
            <span class="induk">
                info induk grup disini
            </span>
        </div>
    
        <div class="medsos">

            <div class="medsosfb">

                <div class="boxfb">
                    <img class="imgfb" src="fb.png">
                    <span class="fb">
                        Facebook
                    </span>
                </div>
                <span>
                    <a class="linkfb" href="https://www.facebook.com/salman.namikaze.16">www.facebook.com/ayodurianofficial</a>
                </span>

            </div>

            <div class="medsosig">

                <div class="boxig">
                    <img class="imgig" src="ig.png">
                    <span class="ig">
                        Instagram
                    </span>
                </div>
                <span>
                    <a class="linkig" href="https://www.instagram.com/hizashi_adolf/">www.instagram.com/adolfhizanovka</a>
                </span>

            </div>

            <div class="medsostt">

                <div class="boxtt">
                    <img class="imgtt" src="tt.png">
                    <span class="tt">
                        TikTok
                    </span>
                </div>
                <span>
                    <a class="linktt" href="https://radarmalioboro.jawapos.com/lesehan/2225358532/penggunaan-tik-tok-tinggi-di-indonesia-70-remaja-alami-stres-akibat-postingan-media-sosial">www.tiktok.com/ayodurianofficial</a>
                </span>

            </div>

        </div>
    
        <div class="news">
            kotak berisi kumpulan berita penjualan dan aksi bisnis disini

            <div class="news1">

            </div>

            <div class="news2">

            </div>

            <div class="news3">

            </div>

            <div class="news4">

            </div>

            <div class="news5">

            </div>

        </div>
    
    </div>

<script src="script.js"></script>

</body>

</html>